.Price {
  border: 3px solid var(--clr-price1);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  width: 30rem;
  position: relative;
  margin: 2rem;

  &:nth-child(2) {
    border: 3px solid var(--clr-price2);

    .Amount {
      color: var(--clr-price2);
    }
    .Policy {
      background-color: var(--clr-price2);
    }
    .Order {
      background-color: var(--clr-price2);
    }
  }

  &:nth-child(3) {
    border: 3px solid var(--clr-price3);

    .Amount {
      color: var(--clr-price3);
    }
    .Policy {
      background-color: var(--clr-price3);
    }
    .Order {
      background-color: var(--clr-price3);
    }
  }

  .Amount {
    font-size: 5rem;
    color: var(--clr-price1);

    @media (max-width: 40em) {
      font-size: 4rem;
    }
  }

  .Policy {
    font-size: 2.3rem;
    background-color: var(--clr-price1);
    padding: 1rem;
    transform: skewY(-2deg);
    margin: 1rem 0 1.5rem 0;
    color: #fff;
  }

  .Details {
    span {
      display: block;
      font-size: 1.4rem;
      padding: 1rem;
      box-shadow: var(--box-shadow);
      margin: 0.5rem 0;
    }
  }

  .Order {
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--clr-price1);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.5);
    }
  }
}
