header {
  min-height: 100vh;
  background: linear-gradient(#a4c78467, #95c56770),
    url(../../img/nat-2-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header .Container {
  position: absolute;
  top: 35%;
  left: 7vw;
  width: 55rem;
  max-width: 90%;

  h1 {
    font-size: 6vmin;
    color: #fff;

    span {
      border-bottom: 1px solid #fff;
      font-style: italic;
    }
  }

  p {
    font-size: 2rem;
    color: #fff;
    margin: 1.5rem 0;
  }

  a {
    display: inline-block;
    background-color: var(--clr-primary);
    border-radius: 3px;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    color: #fff;
    margin-top: 1rem;
    transition: transform 0.3s ease-in;
    box-shadow: var(--box-shadow);
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.5);
    }
  }
}
